<ul>
    <li>Minor PPVs cost 2 MP per wrestler to enter and wins gain double the VMP</li>
    <li>Major PPVs have specific entry costs and the rewards are also PPV specific.</li>
    <li>All titles are defended every PPV.</li>
    <li>The TV Title is defended every show.</li>
    <li>Factions may only challenge wrestlers that in the Free Agent Row or Champions. They may not challenge other factions unless dictated by an Event or PPV card.</li>
    <li>Managers may challenge for a title at a PPV by paying the PPV entry along with the title challenge cost. Managers must choose opponents for their champions and do not have to pay the PPV entry cost. One manager may challenge another faction's champion by paying all MP costs, the champion does not have to pay any MP. His title is on the line in that match.</li>
    <li>Factions size is dictated by how many wrestling pawns they own. Each faction begins with one pawn and may purchase additional pawns throughout the game.</li>
    <li>Purchasing a wrestling pawn will give you a new spot to fill in your faction. Each pawn starts off with a local talent wrestler. You may recruit a wrestler to fill that spot or wait until your local talent gets his win, allowing him to "find his gimmick".</li>
    <li>Wrestler pawn cost:
        First- free
        Second- 10 MP
        Third- 15 MP
        Fourth- 20 MP
        </li>
    <li>Factions may discard any wrestler in their faction at any time. If you find yourself with fewer wrestlers than pawns just fill the spot with a local talent wrestler.</li>
</ul>