<h1 class="title">The Rules</h1>

<div class="gdrive">
<p>Game is currently under development. As such the rules are bound to change. To get the current version click the link below.</p>
<p>
    <a target="_" href="https://docs.google.com/document/d/1RKKp6Gz9UnBn8Rxe7ItwjK645e_UHpY645iOJm72lDo/edit?usp=sharing">Click here to see the current ruleset</a>
</p>
</div>

<div class="pdf">
<p>If you are interested in a pdf version, click the link below. PDF last updated: 12/16/2020</p>
<p>
    <a download href="assets/PWF_Rules.pdf">Click here to download a pdf</a>
</p>
</div>